@import "~normalize.css";


body {
  background: #151718;
  color: #fff;
  max-width:800px;
  margin-left: auto;
  margin-right:auto;
  font-family: helvetica;
  padding:30px;
 

}
.main{
  &__heading {
    padding-top:70px;
    margin-bottom:10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 100;
 
  }
&__content{
  display:flex;
  flex-direction: column;

}
  &__editor{
    margin-bottom:20px;
    width:800px;
    min-height:60vh;
    border-radius: 10px;
    }
  
}
.section{
&__button{
  margin-left:20px;
  border-radius:36.5px;
  color:white;
  font-size:20px;
  letter-spacing: 1px;
}
}
.button_1
{
  background: #3B5EB7;
  border: solid 1px #3B5EB7;
  padding: 13px 50px 13px 50px;
}
.button_2
{
  background: #616674;
  border: solid 1px #616674;
  padding: 13px 50px 13px 50px;
}
.form__buttons{
  display:flex;
  justify-content: flex-end;
}